/* 
z-index defaults to 0
-1: #welcome-background-container
0: 
1: #project-previous, #project-next, #contact-section
2: #navbar
3: #navlist-dropdown, #filter


*/
:root {
  --nav-height: 10vh;
  --project-tile-height: 450px;
  --project-tile-width: 300px;
  --dropdown-menu-width: 20rem;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}
* {
  box-sizing: border-box;
  letter-spacing: 0.12em;
  scroll-margin-top: var(--nav-height);
}

html,
body {
  overflow-x: hidden;

}

body {
  margin: 0;
  margin-top: var(--nav-height);
  padding: 0;
  font-family: monospace, sans-serif;
  min-height: 100vh;
}


#filter {
  display: none;
  position: fixed;
  top: var(--nav-height);
  right: var(--dropdown-menu-width);
  background-color: rgba(0, 0, 0, .25);
  height: 100vh;
  width: 100vw;
  z-index: 3;
}

#navbar {
  position: fixed;
  width: 100vw;
  height: var(--nav-height);
  padding: 0 20px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  top: 0;
  box-shadow: 0 .125rem .375rem rgba(0, 0, 0, .15);
  z-index: 2;
}

#nav-logo {
  height: 10vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;

}

#nav-logo>a {
  height: 70%;
  width: auto;
}

#nav-logo>a>img {
  height: 100%;
  width: auto;
  object-fit: cover;
}


#nav-navlist-button-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
}

#navlist-original {
  width: auto;
  height: 100%;
  display: inline-flex;
  justify-content: space-between;
  list-style: none;
  column-gap: 2rem;
}

#navlist-dropdown {
  display: none;
  flex-direction: column;
  row-gap: 2rem;
  column-gap: 0;
  position: fixed;
  top: calc(var(--nav-height) - 1rem);
  right: 0;
  background-color: white;
  justify-content: flex-start;
  height: 100vh;
  width: var(--dropdown-menu-width);
  z-index: 3;
  padding-top: 2rem;
}


.navlist>li {
  display: inline-flex;
  align-items: center;
  font-size: 1.25rem;
}



.black_link:active {
  transform: translateX(0.1rem) translateY(0.1rem);
}

.black_link:hover {
  color: rgb(150, 150, 150);
}


.navlist>li>a {
  color: black;
  text-decoration: none;
}


#nav-dropdown-menu-button-container {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  overflow: hidden;
}

#nav-dropdown-menu-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  cursor: pointer;
  background: 0;
  border: 0;
  pointer-events: none;
  border-radius: 30%;
  padding-left: 0.55rem;
}

#nav-dropdown-menu-button-icon1 {
  display: none;
}


@media screen and (max-width: 1000px) {
  #navlist-original * {
    display: none;
  }

  .navlist>li {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
  }

  #nav-dropdown-menu-button-container {
    display: inline-flex;
  }

  #nav-dropdown-menu-button-icon1 {
    display: inline;
  }

  #nav-dropdown-menu-button {
    pointer-events: all;
  }

  #welcome-background-container>img {
    content: url("./res/welcome_background2.jpg");
  }
}

/* welcome section  */
#welcome-background-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: -1;
}

#welcome-background-container>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.25;
}


#welcome-section {
  height: calc(100vh - var(--nav-height));
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}

#welcome-section p {
  text-align: center;
  margin-top: 2rem;
}


/* project section */
#projects {
  height: calc(100vh - var(--nav-height));
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 2px solid black;
  position: relative;
  background-color: white;
}

section h1 {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  height: 5%;
  
}

#project-heading-link {
  text-decoration: none;
  color: black;
}



#project-previous,
#project-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 3rem;
  height: 3rem;
  text-align: center;
  color: black;
  border-width: 0.1rem;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50%;
  user-select: none;
  background-color: white;
  z-index: 1;

}

#project-previous:hover,
#project-next:hover {
  background-color: rgb(240, 240, 240);
}

#project-previous {
  left: 0;
}

#project-next {
  right: 0;
}

#project-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  column-gap: 2rem;
  height: var(--project-tile-height);
  overflow: hidden;
  flex-wrap: wrap;
  padding: 0 3rem;
}


.project-tile {
  height: var(--project-tile-height);
  width: var(--project-tile-width);
  flex-shrink: 0;
  border: 0.2rem solid black;
  border-radius: 2rem;
}



.project-tile>img {
  object-fit: cover;
  border-radius: 1.4rem;
  border: 0.2rem solid black;
}

.project-tile-image {
  height: 65%;
  width: 100%;
}

.project-tile-description {
  font-size: 0.8rem;
  height: 20%;
  margin-left: 1rem;
  margin-right: 1rem;
  letter-spacing: 0.05em;
  text-align: justify;
}

.project-tile-learn-more {
  font-size: 0.85rem;
  text-align: center;
  height: 15%;
  display: block;
  color: black;
}

.project-tile-learn-more:visited {
  color: black;
}


/* contact section */
#contact-section {
  display: flex;
  height: calc(80vh - var(--nav-height));
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  z-index: 1;
}

#contact-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#contact {
  width: 50%;
  max-width: 700px;
  min-width: 302px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
}

#contact>label {
  font-size: 1.25rem;
  letter-spacing: 0.12em;
}

#contact>input,
#contact>textarea {
  border-width: 0.15rem;
  border-radius: 0.25rem;
}

#contact-email {
  height: 1.5rem;
}

#contact-submit-button {
  margin-top: 0.5rem;
}

#contact-submit-button:hover {
  background-color: rgb(200, 200, 200);
}

#contact-submit-button:active {
  transform: translateX(0.1rem) translateY(0.1rem);
}

.h-captcha {
  position: relative;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* footer  */

footer {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  box-shadow: 0 -0.2rem 0.5rem rgba(0, 0, 0, .40);
  position:static;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow-y: hidden;
}

footer i {
  font-size: 1.5rem;
}

footer>p {
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 0.7rem;
  color: white;
}

/* media queries */